.grass {
    color: #fff;
    background-color: green;
}
.poison {
    color: #fff;
    background-color: purple;
}
.fire {
    color: #fff;
    background-color: #a33131;
}
.water {
    color: #fff;
    background-color: #557de0;
}
.bug {
    color: #fff;
    background-color: #2da154;
}
.normal {
    color: #fff;
    background-color: #86ad93;
}
.flying {
    color: #fff;
    background-color: #6dadf7;
}
.ground {
    color: #fff;
    background-color: #8c741d;
}
.fairy {
    color: #fff;
    background-color: #a439ad;
}
.electric {
    color: #fff;
    background-color: #3c8c8c;
}
.fighting {
    color: #fff;
    background-color: #919e5a;
  }
.psychic {
    color: #fff;
    background-color: #9fc40a;
}
.steel {
    color: #fff;
    background-color: #535c3f;
}
.ice {
    color: #fff;
    background-color: #56e2f5;
}
.rock {
    color: #fff;
    background-color: #102945;
}
.ghost {
    color: #fff;
    background-color: #220959;
}
.dragon {
    color: #fff;
    background-color: #3f2f7f;
}
.dark {
    color:#fff;
    background-color: #16141f;
}